<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/miningcity-256.png" type="image/png">
  <%- include('styles'); -%>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <title><%= post.title %> - ELCASH</title>
  <script src="/js/main.js"></script>
</head>

<body>
  <header>
    <nav>
      <%- include('navbar'); -%>
  </header>
  <main>
    <div id="content-holder">
        <div id="main-content">
            <h1><%= post.title %></h1>
            <%- post.content %>
            <a href="https://electriccash.global/"><h2>Tìm hiểu thêm về <span style="color: #f8d001;">ELCASH</span> tại đây.</h2></a>
            <h2>Whitepaper: <a href="https://electriccash.global/pdf/GUX-1534-EC-DOC-OnePager-VI.pdf">tại đây</a></h2>
            <h2>Chiến lược halving ELCASH: <a href="https://electriccash.global/pdf/GUX-1534-EC-DOC-PDF-Halving-VI.pdf">tại đây</a></h2>
        </div>
    </div>
    <%- include('contactus'); -%>
  </main>
  <%- include('footer'); -%>
</body>
</html>