<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/miningcity-256.png" type="image/png">
    <%- include('styles'); -%>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">
        <title>Electric Cash</title>
        <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <%- include('navbar'); -%>
    </header>
    <main>
        <div id="content-holder">
            <h1 class="headtext">Danh mục: Electric Cash</h1>
            <%- include('postlist'); -%>
        </div>
        <%- include('contactus'); -%>
    </main>
    <%- include('footer'); -%>
</body>

</html>